Repository ibalboteo/wealthfolio-rebalancer: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

biome:
  run: pnpm check
  stage_fixed: true
  fail_text: 'Biome found issues in your code.
  
    Run ''pnpm check:fix'' to automatically fix some issues.
  
    '

type-check:
  run: pnpm type-check
  fail_text: 'TypeScript found type errors.
  
    Please fix the type errors before committing.
  
    '

refactor(styles): use theme chart tokens for the allocation palette
  src/components/allocation-donut.tsx
  src/components/allocation-overview.tsx
  src/lib/allocation-colors.ts
Due: biome, type-check

build: move injected styles to CSS Modules bundled into addon.js
  package.json
  pnpm-lock.yaml
  src/components/allocation-overview.module.css
  src/components/allocation-overview.tsx
  src/pages/rebalancer.module.css
  src/pages/rebalancer.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: biome, type-check

style: remove no-op Tailwind classes in the header
  src/components/header.tsx
  src/pages/rebalancer.tsx
Due: biome, type-check

docs: add addon i18n design spec
  docs/superpowers/specs/2026-07-17-addon-i18n-design.md
Due: none

docs: add addon i18n implementation plan
  docs/superpowers/plans/2026-07-17-addon-i18n.md
Due: none

feat(i18n): add bundled i18next instance and cli tooling
  biome.json
  i18next.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/addon.tsx
  src/i18n/i18n.test.ts
  src/i18n/i18n.ts
  src/i18n/locales/de/rebalancer.json
  src/i18n/locales/en/rebalancer.json
  src/i18n/locales/es/rebalancer.json
  src/i18n/locales/fr/rebalancer.json
  src/i18n/locales/zh/rebalancer.json
  src/types/i18next.d.ts
  src/types/resources.d.ts
  tsconfig.json
Due: biome, type-check

fix(i18n): pin i18next to host peer range (25/16)
  package.json
  pnpm-lock.yaml
Due: biome

feat(i18n): follow host language reactively via settings
  manifest.json
  src/hooks/index.ts
  src/hooks/use-host-language.test.tsx
  src/hooks/use-host-language.ts
  src/lib/addon-sdk-compat.d.ts
  src/pages/rebalancer.tsx
Due: biome, type-check

feat(i18n): translate UI strings and extract English catalog
  src/components/account-selector.tsx
  src/components/allocation-overview.tsx
  src/components/holding-planner.tsx
  src/components/rebalancer-i18n.test.tsx
  src/components/transfer-card.tsx
  src/i18n/locales/de/rebalancer.json
  src/i18n/locales/en/rebalancer.json
  src/i18n/locales/es/rebalancer.json
  src/i18n/locales/fr/rebalancer.json
  src/i18n/locales/zh/rebalancer.json
  src/pages/rebalancer.tsx
  src/types/resources.d.ts
Due: biome, type-check

docs: add 3 missed overview strings to i18n plan catalog
  docs/superpowers/plans/2026-07-17-addon-i18n.md
Due: none

docs: use {{n}} to avoid plural forms for moreOffTarget
  docs/superpowers/plans/2026-07-17-addon-i18n.md
Due: none

feat(i18n): wrap remaining allocation-overview strings
  src/components/allocation-overview.tsx
  src/i18n/locales/de/rebalancer.json
  src/i18n/locales/en/rebalancer.json
  src/i18n/locales/es/rebalancer.json
  src/i18n/locales/fr/rebalancer.json
  src/i18n/locales/zh/rebalancer.json
  src/types/resources.d.ts
Due: biome, type-check

docs: add header.subtitle key to i18n plan catalog
  docs/superpowers/plans/2026-07-17-addon-i18n.md
Due: none

feat(i18n): wrap header subtitle
  src/i18n/locales/de/rebalancer.json
  src/i18n/locales/en/rebalancer.json
  src/i18n/locales/es/rebalancer.json
  src/i18n/locales/fr/rebalancer.json
  src/i18n/locales/zh/rebalancer.json
  src/pages/rebalancer.tsx
  src/types/resources.d.ts
Due: biome, type-check

feat(i18n): add fr/de/es/zh translations
  src/components/rebalancer-i18n.test.tsx
  src/i18n/locales/de/rebalancer.json
  src/i18n/locales/es/rebalancer.json
  src/i18n/locales/fr/rebalancer.json
  src/i18n/locales/zh/rebalancer.json
Due: biome, type-check

test(i18n): harden host-language fallback and translation tests
  src/components/rebalancer-i18n.test.tsx
  src/hooks/use-host-language.test.tsx
  src/hooks/use-host-language.ts
Due: biome, type-check

chore: downgrade i18next-cli
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: biome

ci: add Dependabot config with auto-merge for non-major updates
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yml
Due: none

ci: ignore @types/node major updates to keep it aligned with CI Node 24
  .github/dependabot.yml
Due: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions (#19)
  .github/workflows/ci.yml
Due: none

3.1.0
  manifest.json
  package.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json}
  type-check: any of: *.{ts,tsx}
