Repository ibalboteo/wealthfolio-rebalancer: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: pnpm check
      stage_fixed: true
      fail_text: |
        Biome found issues in your code.
        Run 'pnpm check:fix' to automatically fix some issues.
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm type-check
      fail_text: |
        TypeScript found type errors.
        Please fix the type errors before committing.

# Skip lefthook execution for merge commits
output:
  - meta
  - summary

# Minimum lefthook version required
min_version: 2.0.0

feat: complete plugin implementation and tooling setup
  manifest.json
  package.json
  src/components/avatar.tsx
  src/components/header.tsx
  src/lib/rebalance-utils.test.ts
  src/lib/rebalance-utils.ts
  vite.config.ts
Due: biome, type-check

0.2.0
  manifest.json
  package.json
Due: biome

feat: add empty state with navigation to activities page
  src/pages/rebalancer.tsx
Due: biome, type-check

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update issue templates (#2)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

security: add comprehensive API permissions to manifest
  manifest.json
Due: biome

0.4.0
  manifest.json
  package.json
Due: biome

0.5.0
  manifest.json
  package.json
Due: biome

feat: modernize React codebase for React 19 compatibility
  package.json
  pnpm-lock.yaml
  src/components/account-selector.tsx
  src/components/avatar.tsx
  src/components/avatar/avatar-fallback.tsx
  src/components/avatar/avatar-image.tsx
  src/components/avatar/avatar.tsx
  src/components/avatar/index.ts
  src/components/header.tsx
  src/components/holding-planner.tsx
  src/hooks/use-local-storage.ts
  src/hooks/use-rebalance.ts
  src/lib/account-provider.tsx
  vite.config.ts
Due: biome, type-check

feat: upgrade all packages to latest major versions
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome, type-check

feat: modernize React codebase for React 19 compatibility (#4)
  package.json
  pnpm-lock.yaml
  src/components/account-selector.tsx
  src/components/avatar.tsx
  src/components/avatar/avatar-fallback.tsx
  src/components/avatar/avatar-image.tsx
  src/components/avatar/avatar.tsx
  src/components/avatar/index.ts
  src/components/header.tsx
  src/components/holding-planner.tsx
  src/hooks/use-local-storage.ts
  src/hooks/use-rebalance.ts
  src/lib/account-provider.tsx
  vite.config.ts
Due: biome, type-check

Feat/major package upgrades (#3)
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome, type-check

feat: enhance addon with instrument selection and improved toast notifications
  package.json
  pnpm-lock.yaml
  src/addon.tsx
  src/components/holding-planner.tsx
  src/components/index.ts
  src/components/instrument-selector.tsx
  src/components/toaster.tsx
  src/hooks/index.ts
  src/hooks/use-search-instruments.ts
  src/hooks/use-toast.ts
Due: biome, type-check

feat: improve mobile responsiveness
  src/components/header.tsx
  src/components/holding-planner.tsx
  src/components/transfer-card.tsx
  src/pages/rebalancer.tsx
Due: biome, type-check

fix: resolve React rendering issues
  src/components/holding-planner.tsx
  src/hooks/use-local-storage.ts
  src/pages/rebalancer.tsx
Due: biome, type-check

feat: improve UI/UX with mobile responsiveness, instrument selection, and bug fixes
  package.json
  pnpm-lock.yaml
  src/addon.tsx
  src/components/header.tsx
  src/components/holding-planner.tsx
  src/components/index.ts
  src/components/instrument-selector.tsx
  src/components/toaster.tsx
  src/components/transfer-card.tsx
  src/hooks/index.ts
  src/hooks/use-local-storage.ts
  src/hooks/use-search-instruments.ts
  src/hooks/use-toast.ts
  src/pages/rebalancer.tsx
Due: biome, type-check

0.6.0
  manifest.json
  package.json
Due: biome

feat(rebalancer): major UX refactor — tolerance, Suspense, preview redesign (v0.7.0)
  CHANGELOG.md
  manifest.json
  package.json
  src/components/holding-planner.tsx
  src/components/instrument-selector.tsx
  src/components/transfer-card.tsx
  src/hooks/holding-plan.test.ts
  src/hooks/use-holdings.ts
  src/hooks/use-local-storage.ts
  src/hooks/use-rebalance.ts
  src/hooks/use-search-instruments.ts
  src/lib/rebalance-utils.test.ts
  src/lib/storage.test.ts
  src/lib/storage.ts
  src/pages/rebalancer.tsx
Due: biome, type-check

chore: update README
  README.md
Due: none

fix(ui): correct preview allocation math and polish holding cards
  src/components/transfer-card.tsx
  src/lib/storage.ts
  src/pages/rebalancer.tsx
Due: biome, type-check

0.7.1
  manifest.json
  package.json
Due: biome

Fix/preview math and holding card polish (#7)
  manifest.json
  package.json
  src/components/transfer-card.tsx
  src/lib/storage.ts
  src/pages/rebalancer.tsx
Due: biome, type-check

fix: remove padding bottom
  src/pages/rebalancer.tsx
Due: biome, type-check

fix: remove padding bottom (#8)
  src/pages/rebalancer.tsx
Due: biome, type-check

0.7.2
  manifest.json
  package.json
Due: biome

refactor(ui): simplify layout and improve transfer card UX
  src/components/transfer-card.tsx
  src/pages/rebalancer.tsx
Due: biome, type-check

0.7.3
  manifest.json
  package.json
Due: biome

fix: correct on-target classification and tolerance edge cases
  src/components/holding-planner.tsx
  src/lib/rebalance-utils.test.ts
  src/lib/rebalance-utils.ts
  src/pages/rebalancer.tsx
Due: biome, type-check

0.7.4
  manifest.json
  package.json
Due: biome

chore: bump version to 3.0.0 to align with Wealthfolio v3
  manifest.json
  package.json
Due: biome

docs: add v3.6.1 addon migration design spec
  docs/superpowers/specs/2026-07-14-addon-v3.6-migration-design.md
Due: none

feat: declare addon routes and sidebar link in manifest
  manifest.json
  src/lib/constants.ts
  src/lib/manifest-contract.test.ts
Due: biome, type-check

fix: align runtime route id with manifest route id baseline
  src/addon.tsx
Due: biome, type-check

refactor: migrate addon runtime route registration to 3.6.1 component mode
  src/addon.test.tsx
  src/addon.tsx
  src/lib/addon-sdk-compat.d.ts
  src/lib/manifest-contract.test.ts
Due: biome, type-check

fix: simplify route component registration and trim sidebar permission
  manifest.json
  src/addon.tsx
  src/lib/addon-sdk-compat.d.ts
Due: biome, type-check

build: externalize host deps for sandbox and align sdk/ui 3.6
  manifest.json
  package.json
  pnpm-lock.yaml
  src/lib/build-contract.test.ts
  vite.config.ts
Due: biome, type-check

feat: add sandbox-safe async storage adapter
  src/lib/storage.test.ts
  src/lib/storage.ts
Due: biome, type-check

fix: restore legacy storage helper behavior alongside async adapter
  src/lib/storage.ts
Due: biome, type-check
